@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header_container {
        max-width: 800px;
    }

    .custom {
        margin-left: 176px;
    }

    .nav_block {
        width: 32%;
    }

    .container {
        max-width: 800px;
    }

    .section_product {
        height: 700px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 700px;
    }

    .img_link_box {
        visibility: visible !important;
        display: block;
    }

    .sidebar_block {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        top: 40px;
    }

    .search_header {
        height: 60px;
    }

    .search_header_input {
        height: 30px;
    }

    .product_second_text_block_item2 {
        width: 200px;
    }

    .section_product {
        height: 630px;
    }

    .header_container {
        max-width: 700px;
    }

    .nav_block {
        visibility: hidden !important;
        display: none;
    }

    .custom {
        margin-left: 148px;
    }

    .header {
        height: 60px;
        padding-top: 3px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .container {
        max-width: 400px;
    }

    .img_link_box {
        visibility: visible !important;
        display: block;
    }

    .sidebar_block {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        top: 40px;
    }

    .product_parent_block {
        flex-direction: column;
    }

    .product_first_block,
    .product_second_block {
        width: 100%;
    }

    .product_first_block {
        margin-bottom: 20px;
    }

    .search_header_submenu_block {
        width: 430px;
        height: 400px;
    }

    .search_header_submenu_block_container {
        max-width: 400px;
    }


    .search_header_container {
        max-width: 450px;
    }

    .search_header {
        height: 60px;
    }

    .search_nav {
        margin-top: -10px;
    }

    .search_header_input {
        width: 430px;
        height: 30px;
    }

    .section_product {
        height: 1050px;
    }

    .header_container {
        max-width: 400px;
        width: 100%;
    }

    .nav_block {
        visibility: hidden !important;
        display: none;
    }

    .custom {
        margin-left: 58px;
    }

    .header {
        padding-top: 3px;
        height: 60px;
    }

    .logo_block {
        margin-top: -26px;
    }

    .search_block {
        margin-top: -20px;
    }

    .logo_link {
        font-size: 30px;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 300px;
    }

    .img_link_box {
        visibility: visible !important;
        display: block;
    }

    .sidebar_block {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        top: 40px;
        width: 74.1%;
    }

    .product_parent_block {
        flex-direction: column;
    }

    .product_first_block,
    .product_second_block {
        width: 100%;
    }

    .product_first_block {
        margin-bottom: 20px;
    }

    .section_product {
        height: 950px;
    }


    .nav_sidebar {
        width: 60%;
    }

    .header_container {
        max-width: 300px;
    }

    .nav_block {
        visibility: hidden !important;
        display: none;
    }

    .custom {
        margin-left: 24px;
    }

    .header {
        height: 60px;
        padding-top: 0px;
    }

    .logo_link {
        font-size: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    .img_link_box {
        width: 27%;
    }

    .logo_block {
        margin-top: -20px;
    }

    .search_header_submenu_block {
        width: 270px;
        height: 300px;
    }

    .search_header_submenu_block_container {
        max-width: 250px;
    }

    .search_header_container {
        max-width: 300px;
    }

    .search_header_input {
        width: 270px;
        height: 30px;
    }

    .search_header {
        height: 60px;
    }

    .search_nav {
        margin-top: -10px;
    }


    .search_block {
        margin-top: -12px;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    .container {
        max-width: 300px;
    }

    .img_link_box {
        visibility: visible !important;
        display: block;
    }

    .sidebar_block {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        top: 40px;
        width: 74.1%;
    }

    .product_parent_block {
        flex-direction: column;
    }

    .product_first_block,
    .product_second_block {
        width: 100%;
    }

    .product_first_block {
        margin-bottom: 20px;
    }

    .section_product {
        height: 950px;
    }


    .nav_sidebar {
        width: 60%;
    }

    .header_container {
        max-width: 300px;
    }

    .nav_block {
        visibility: hidden !important;
        display: none;
    }

    .custom {
        margin-left: 24px;
    }

    .header {
        height: 60px;
        padding-top: 0px;
    }

    .logo_link {
        font-size: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    .img_link_box {
        width: 27%;
    }

    .logo_block {
        margin-top: -20px;
    }

    .search_header_submenu_block {
        width: 270px;
        height: 300px;
    }

    .search_header_submenu_block_container {
        max-width: 250px;
    }

    .search_header_container {
        max-width: 300px;
    }

    .search_header_input {
        width: 270px;
        height: 30px;
    }

    .search_header {
        height: 60px;
    }

    .search_nav {
        margin-top: -10px;
    }


    .search_block {
        margin-top: -12px;
    }
}

@supports (-webkit-appearance: none) {
    .header {
        position: fixed !important;
    }
}