@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    max-width: 2560px;
    position: relative;
}

.disable_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.search_header {
    position: absolute;
    z-index: 9999;
    max-width: 2560px;
    width: 100%;
    background-color: #f3f3f3;
    height: 100px;
    position: fixed;
    padding-top: 24px;
    border-bottom: 1px solid rgb(223, 223, 223);
    visibility: hidden;
}

.search_header_container {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

.search_header_nav_list {
    list-style-type: none;
}

.search_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search_header_input {
    width: 700px;
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
    height: 50px;
}

.search_header_input {
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
}

.search_header_input::placeholder {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(48, 48, 48);
}

.search_close_icon {
    color: black;
    font-size: 25px;
}

.search_header_submenu_block {
    width: 700px;
    height: 500px;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    visibility: hidden;
}

.search_header_submenu_block_container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
}

.search_header_submenu_block_list {
    list-style-type: none;
    max-width: 200px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    position: absolute;
}

.search_header_product1 {
    width: 100%;
    height: 100%;
}

.search_header_product1_link {
    text-decoration: none;
}

.search_header_product1_link:hover .search_header_product1_img {
    transform: scale(110%);
}

.search_header_product1_link:hover .search_header_product1_text_block_item1 {
    text-decoration: underline;
}

.search_header_product1_link:hover .search_header_product1_text_block_item2 {
    text-decoration: underline;
}

.search_header_product1_figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.search_header_product1_img {
    width: 100%;
    height: 100%;
}

.search_header_product1_text_block {
    margin-top: 10px;
    text-align: center;
}

.search_header_product1_text_block_item1 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Assistant';
    color: #121212;
}

.search_header_product1_text_block_item2 {
    color: #121212;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Assistant';
}


.header {
    max-width: 2560px;
    overflow: hidden;
    width: 100%;
    background-color: #f3f3f3;
    height: 100px;
    z-index: 999;
    position: fixed;
    padding-top: 24px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.header_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.nav_list {
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
    color: rgb(85, 85, 85);
    text-align: 14px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.active {
    color: black;
    font-weight: 400;
    text-decoration: underline;
}

.nav_link:hover {
    color: black;
    font-weight: 400;
    text-decoration: underline;
}


.logo_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.logo_list {
    list-style-type: none;
    margin: 0 auto;

}

.logo_link {
    font-size: 40px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    color: #505050;
    margin: 0 auto;
}

.logo_link:hover {
    color: black;
}

.search_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.search_list {
    list-style-type: none;
}


.search_link {
    font-size: 20px;
    color: #313131;
    font-weight: 200;
}


.custom {
    margin-right: 20px;
    margin-left: 295px;
}

.nav_sidebar {
    width: 40%;
    background-color: #ffffff;
    margin-left: -100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    transition: all .4s;
    border-right: 1px solid rgb(124, 124, 124);
    overflow: hidden !important;
}

.sidebar_block {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: -50%;
    /* margin-left: 70px; */
    width: 46.1%;
    padding: 40px 30px;
}

.sidebar_list {
    list-style-type: none;
    margin-bottom: 40px;
}

.sidebar_active {
    text-decoration: underline;
}

.sidebar_link {
    text-decoration: none;
    color: rgb(85, 85, 85);
    text-align: 14px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.sidebar_link_active {
    color: black;
    font-weight: 500;
}

.sidebar_icon {
    margin-right: 20px;
    cursor: auto;
}

.lines {
    cursor: pointer;
    width: 38px;
    margin-top: 8px;
    transition: all .3s;
}

.nav_close_link {
    opacity: 0%;
    margin-left: 135px;
    color: black;
    font-size: 26px;
    transition: .3s;
}

.img_link_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: hidden !important;
    display: none;
}

.sidebar_nav_block {
    opacity: 0%;
    margin-left: 30px;
}

.sidenav_list {
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: -200px;
    width: 61px;
    transition: all .1s;
}

.active_side_nav_list {
    padding-top: 30px;
}

main {
    width: 100%;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section_contact {
    max-width: 2560px;
    width: 100%;
    margin: 0 auto;
    height: 700px;
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.article_contact {
    width: 100%;
    height: 100%;
    background-image: url('../../img/bg/WhizkleContactBg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_text_block {
    padding-top: 250px;
    width: 540px;
}

.contact_item1 {
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 5px;
}

.contact_item2 {
    font-family: 'Assistant', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    word-spacing: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.contact_item3 {
    margin-left: 80px;
}

.contact_arrow_down {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.contact_mail_block_link {
    font-family: 'Assistant', sans-serif;
    color: rgb(32, 32, 32);
    background-color: white;
    border: 1px solid rgb(133, 133, 133);
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.section_email {
    max-width: 2560px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 190px;
}

.article_email {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.email_input_btn_block {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.email_block_item1 {
    font-size: 20px;
    color: black;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

.inputGroup {
    font-family: 'Assistant', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 320px;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border-left: 1px solid rgb(99, 99, 99);
    border-top: 1px solid rgb(99, 99, 99);
    border-right: 0px;
    border-bottom: 1px solid rgb(99, 99, 99);
    background-color: transparent;
    border-radius: 0px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    font-family: 'Assistant', sans-serif;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
}


.email_block_btn {
    border-right: 1px solid rgb(99, 99, 99);
    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);
    border-left: 0px;
    width: 45px;
    height: 46px;
    background: transparent;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.arrow_right {
    color: black;
    margin-top: -2px;
    margin-left: -10px;
}

.email_nav_block {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.email_nav_block {
    list-style-type: none;
}

.custom_list {
    margin-right: 20px;
}

.email_nav_link {
    font-size: 20px;
    color: black;
}

.email_nav_list {
    transition: all .3s;
}

.email_nav_list:hover {
    transform: scale(116%);
}

.footer {
    max-width: 2560px;
    width: 100%;
    margin: 0 auto;
    height: 220px;
}

.footer_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer_text_block {
    margin-bottom: 30px;
    margin-top: 40px;
}

.footer_text_block_item1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
}

.footer_card_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.apple_pay,
.visa,
.mastercard,
.paypal {
    width: 60px;
    height: 39px;
    transition: all .3s;
}

.apple_pay_img,
.visa_img,
.mastercard_img,
.paypal_img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
}

.apple_pay:hover {
    transform: scale(125%);
}

.visa:hover {
    transform: scale(125%);
}

.mastercard:hover {
    transform: scale(125%);
}

.paypal:hover {
    transform: scale(125%);
}